In [45]:
#ML
from sklearn import datasets
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [46]:
df = pd.read_excel('default-of-credit-card-clients.xls')

In [47]:
#Check rows and columns
df.shape

(30000, 24)

In [48]:
#Describe the data
df.describe()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,y
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [49]:
#Null values check
df.isnull().sum()

LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
y            0
dtype: int64

In [50]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'y'],
      dtype='object')

In [51]:
#Drop one column for x, set up y
x = df.drop(['y'], axis=1)
y = df.y

In [52]:
#Train Test Split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.25, random_state=1)

In [53]:
#Build basic KNN - Accuracy score is .756 #with kd_tree sped up to .77
clf = KNeighborsClassifier(algorithm='kd_tree', n_neighbors=13)
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
metrics.accuracy_score(y_test, y_pred)

0.7722666666666667

In [54]:
#Get parameters
clf.get_params()

{'algorithm': 'kd_tree',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 13,
 'p': 2,
 'weights': 'uniform'}

In [55]:
n_neighbors = [3,5,7,9,11,13,15,19,23,29]
algos = ['ball_tree', 'kd_tree', 'brute']
dist_metric = ['minkowski']
p_root = [1,2,3,4,5,6,7]
weights = ['uniform', 'distance']
leaf_size = [15,30,40,50,60,70]

In [56]:
#Define the paramters dict
parameters = dict(
                n_neighbors = n_neighbors,
                #algorithm = algos
                metric = dist_metric,
                p = p_root,
                weights = weights,
                #Leaf_size = leaf_size
        )
print(parameters)

{'n_neighbors': [3, 5, 7, 9, 11, 13, 15, 19, 23, 29], 'metric': ['minkowski'], 'p': [1, 2, 3, 4, 5, 6, 7], 'weights': ['uniform', 'distance']}

In [57]:
#Define splits
n_splits=5

kf = KFold(n_splits = n_splits, shuffle=True, random_state=100)

In [58]:
#Instantiate the grid search CV
grid = RandomizedSearchCV(estimator = clf,
                   param_distributions = parameters,
                   scoring = 'accuracy',
                   cv = kf, 
                   verbose = 0,
                   n_jobs = -1,
                   n_iter = 5
                )

In [59]:
#Fit the data to the grid object
grid.fit(x_train,y_train)

RandomizedSearchCV(cv=KFold(n_splits=5, random_state=100, shuffle=True),
                   estimator=KNeighborsClassifier(algorithm='kd_tree',
                                                  n_neighbors=13),
                   n_iter=5, n_jobs=-1,
                   param_distributions={'metric': ['minkowski'],
                                        'n_neighbors': [3, 5, 7, 9, 11, 13, 15,
                                                        19, 23, 29],
                                        'p': [1, 2, 3, 4, 5, 6, 7],
                                        'weights': ['uniform', 'distance']},
                   scoring='accuracy')

In [60]:
#Instantiate the grid object 
grid = GridSearchCV(estimator = clf,
                   param_distributions = parameters,
                   scoring = 'accuracy',
                   verbose = 0,
                   cv = kf,
                   n_inter = 5
                )

TypeError: __init__() got an unexpected keyword argument 'param_distributions'

In [ ]:
grid.fit(x_train, y_train)

In [ ]:
grid.best_params_